<!DOCTYPE html>
<html>
  <head>
    <title>Collective</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Topics', topics_path %>
        <% if current_user %>
          <%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user) %>
          <%= form_tag logout_path, method: :delete do %>
            <%= button_tag 'Log Out' %>
          <% end %>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
